body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
  margin: auto;
  max-width: 90%;
  height: 100vh;
  padding: 48px 0px;
}

* {
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 100%;
}
